*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
}
#header{
    width: 100%;
    height: 150px;
    background-color: gold;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
}
#header img{
    width: 40%;
    height: 80px;
    margin-top: 40px;
}
#nav{
    width: 100%;
}
#nav ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#nav a{
    color: gold;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    transition: all;
    transition-duration: 0.3s;
}
#nav a:hover{
    color: black;
    font-size: 21px;
    background-color: gold;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    cursor: pointer;
}
#nav ul{
    list-style-type: none;
}
main{
    width: 100%;
    height: 70vh;
}
#section{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
#section h1{
    position: absolute;
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    margin-left: 6rem;
    margin-top: 2rem;
    letter-spacing: 1.5rem;
    animation: Specialanim 1s ease-in normal;
}
@keyframes Specialanim {
    from{margin-left: -2rem; font-size: 1rem;}
    to{margin-left: 6rem; font-size: 3rem;}
}

#section p{
    position: absolute;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 2rem;
    margin-top: 7rem;
    line-height: 2rem;
    font-weight: 300;
    animation: paragraphanim 2s ease-in normal;
}
@keyframes paragraphanim {
    from{margin-left: 50rem; font-size: 0.2rem; margin-bottom: 20rem;}
    to{margin-left: 2rem; font-size: 1rem;}
}
#section img{
    width: 99%;
    height: 50vh;
    margin-bottom: 3rem;
    opacity: 0.5;
}
.blog{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
}

.offer{
    width: 32%;
    background-color: gold;
    height: 80vh;
    border-radius: 10px;
    color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.offer h2{
    margin-top: 1.5rem;
}
.images{
    width: 100%;
    height: 15rem;
}
.offer p{
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}
.offer a{
    color: blue;
    font-size: 12px;
}
.offer a:hover{
    color: red;
    font-size: 15px;
    transition: all;
    transition-duration: 0.5s;
    cursor: pointer;
    text-decoration: none;
}
footer{
    width: 100%;
    height: 5rem;
    margin-top: 27rem;
    background-color: gold;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3rem;
}
footer img{
    width: 10rem;
    height: 3rem;
    margin-left: 3rem;
}
footer h3{
    margin-right: 5rem;
    color: black;
}
#copyright{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: end;
}
#copyright img{
    width: 3rem;
    height: 1.5rem;
}

@media (max-width: 1000px) {
    #section p{
        padding-left: 4rem;
        padding-right: 4rem;
    }
    #section img{
        height: 60vh;
    }
    .blog{
        margin-top: 5rem;
    }
    footer{
        height: 2rem;
        margin-top: 30rem;
        padding-bottom: 3rem;
        padding-top: 1rem;
    }
}


@media (max-width: 800px) {
    #section p{
        padding-left: 2rem;
        padding-right: 2rem;
        animation: none;
    }
    #section img{
        height: 80vh;
    }
    #section h1{
        font-size: 2rem;
        letter-spacing: 1rem;
        margin-left: 4rem;
    }
    .blog{
        margin-top: 12rem;
    }
    #nav a{
        font-size: 1rem;
    }
    .offer{
        width: 48%;
    }
    #discountoffer{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 1rem;
        height: 55vh;
    }
    #discountoffer img{
        width: 40%;
    }
    #discountoffer p{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        width: 40%;
        font-size: 0.9rem;
    }
    #discountoffer h2{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 2rem;
    }
    #discountoffer a{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
        margin-right: 5rem;
        margin-top: -2rem;
    }
    footer{
        margin-top: 57rem;   
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    footer img{
    width: 7rem;
    height: 2rem;
    margin-left: 2rem;
    }
    footer h3{
    margin-right: 3rem;
    color: black;
    font-size: 1rem;
    }
    #copyright img{
    width: 2rem;
    height: 1rem;
    }
}

@media (max-width:500px) {
    #section h1{
        font-size: 1.5rem;
        letter-spacing: 0.5rem;
        margin-top: 0.5rem;
    }
    #section p{
        font-size: 0.9rem;
        margin-top: 4rem;
    }
    #section img{
        height: 103vh;
    }
    .blog{
        margin-top: 22rem;
    }
    .blog a{
        font-size: 4rem;
    }
    .offer{
        width: 100%;
        margin-bottom: 1rem;
        padding-bottom: 2rem;
        height: 100vh;
    }
    .offer p{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        line-height: 1.5rem;
    }
    #discountoffer{
        margin-top: 0rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        height: 100vh;
        width: 100%;
    }
    #discountoffer p{
        font-size: 1rem;
        width: 100%;
        margin-top: 2rem;
        
    }
    #discountoffer a{
        font-size: 1.2rem;
        margin-top: 1rem;
        margin-left: 5px;
    }
    .offer p{
        font-size: 1rem;
    }
    .offer a{
        font-size: 1.5rem;
    }
    #discountoffer img{
        width: 100%;
    }
    footer{
        margin-top: 136rem;
    }
}